! Mode
use_rovib_coupling = 0

! System
mass = O16, O18, O16
J = 0

! Basis
basis_size_phi = 50
cutoff_energy = -2000

eigensolve = {
  num_states = 50
}

! Paths
grid_path = /home/username/SpectrumSDT_runs/o3/
root_path = /home/username/SpectrumSDT_runs/o3/J_0/

! Properties
wf_sections = {
  Covalent B = {
    phi = 0 .. 60
  }

  Covalent A = {
    phi = 60 .. 117.65
  }

  Covalent S = {
    phi = 117.65 .. 180
  }

  K0 = {
    K = 0 .. 0
  }
}
