! Mode
stage = {stage}
use_rovib_coupling = 1

! System
mass = O16, O18, O16
J = 2
K = {K}                                                                    ! Assuming call of init_spectrumsdt_folders.py -K all.
parity = {parity}                                                          ! Value of inversion parity.

basis = (
  num_functions_phi = 200
  symmetry = {symmetry}
  cutoff_energy = 6000
  fixed = (                                                                ! Use a fixed rotational state for basis.
    J = 1                                                                  ! Takes J=1 and K=1 from the specified path.
    K = 1
    root_path = /home/username/SpectrumSDT_runs/o3/resonances/J_1/
  )
)

eigencalc = (
  num_states = 2400
  mpd = 600                                                                ! Setting mpd manually for large number of states improves performance.
)

cap = (                                                                    ! Set up CAP to start absorbtion at 7 wavenumbers above the dissociation limit (has to be > 0).
  min_absorbed_energy = 7
)

! Paths
grid_path = /home/username/SpectrumSDT_runs/o3/resonances/
root_path = /home/username/SpectrumSDT_runs/o3/resonances/J_2/
