! This a more advanced example, designed to demonstrate calculation of scattering resonances up to 1000 cm^-1 above the dissociation threshold for J=0 (no rotation).
! Computational cost: moderate. In our case the eigensolve stage took 2 hours on 32 processors, and the properties stage took 7 minutes on 600 processors.
! Follow the same instructions as for "simple" example.
! The expected results for symmetry = 0 are given in state_properties.fwc

! Mode
stage = {stage}
use_rovib_coupling = 1

! System
mass = O16, O18, O16
J = 0
K = 0

basis = (
  num_functions_phi = 200
  symmetry = {symmetry}
  cutoff_energy = 6000
)

eigensolve = (
  num_states = 2400
  mpd = 600                                                                ! Setting mpd manually for large number of states improves performance.
)

cap = (                                                                    ! Set up CAP to start absorbtion at 7 wavenumbers above the dissociation limit (has to be > 0).
  min_absorbed_energy = 7
)

! Paths
grid_path = /home/username/SpectrumSDT_runs/o3/resonances/
root_path = /home/username/SpectrumSDT_runs/o3/resonances/J_0/

! Properties (optional)
wf_sections = (
  Covalent B = (
    rho = start .. 5.556469927731531                                       ! Set additional restriction on rho values, since rho grid goes to dissociation in this example
    phi = 0 .. 60
  )

  Covalent A = (
    rho = start .. 5.486635000100146
    phi = 60 .. 117.65
  )

  Covalent S = (
    rho = start .. 5.406604244286948
    phi = 117.65 .. 180
  )

  VdW B = (                                                                ! VdW regions start after covalent
    rho = 5.556469927731531 .. 11
    phi = 0 .. 60
  )

  VdW A = (
    rho = 5.486635000100146 .. 11
    phi = 60 .. 117.65
  )

  VdW S = (
    rho = 5.406604244286948 .. 11
    phi = 117.65 .. 180
  )

  Infinity = (                                                             ! Explicitly integrate the remainder of space in rho to make sure all probabilities add up to 1
    rho = 11 .. end                                                        ! Note that all previous sections did not include 180<phi<360 due to symmetry,
  )                                                                        ! therefore their probabilities should be multiplied by 2 before everything adds up to 1.

  Gamma B = (                                                              ! Channel specific lifetimes for channels B(1) and A(2)
    phi = 0 .. 60
    stat = gamma
  )

  Gamma A = (
    phi = 60 .. 180
    stat = gamma
  )
)
