*.mod
*.o
dictionary.f90
dictionary_funcs_.inc
dictionary_interface_.inc
fdict.inc
libfdict.a
settings.bash
variable.f90
variable_declarations2_.inc
variable_declarations_.inc
variable_delete_.inc
variable_funcs_.inc
variable_interface_.inc
variable_variable_alloc_.inc
variable_variable_assoc_.inc
variable_variable_set_.inc
