! This config is set up for calculation of coupled rovibrational scattering resonances up to 1000 cm^-1 above the dissociation threshold for J=2 and p=0 (3 rotational blocks).
! The values of J=1 and K=1 for fixed basis are selected somewhat arbitrary, another combination is expected to work as well.
! Computational cost: high. In our case the eigensolve stage took 12 hours on 32 processors, and the properties stage took 45 minutes on 850 processors.
! The instructions for this example are mostly the same as for "simple" example, except:

! On step 3, create two directories: J_1 (for basis and overlaps calculations) and J_2 (for eigensolve and properties calculation). Have a copy of this config in both.
! In J_1 folder, change root_path to coincide with basis % fixed % root_path, then call init_spectrumsdt_folders.py -K 1.
! In J_2 folder call init_spectrumsdt_folders.py -K all.

! On steps 4 and 5 you need to repeat the basis and overlaps stages for both symmetries (0 and 1) in J_1/K_1/ folder.
! On steps 6 and 7, cd to J_2/K_all/parity_0/symmetry_0/ for eigensolve and properties stages.

! Mode
stage = {stage}
use_rovib_coupling = 1                                                     ! Enabling it makes sense now, since we have multiple rotational blocks.

! System
mass = O16, O18, O16
J = 2
K = {K}
parity = {parity}                                                          ! Value of inversion parity. Does not have an effect for basis and overlaps stages.

basis = (
  num_functions_phi = 200
  symmetry = {symmetry}
  cutoff_energy = 6000
  fixed = (                                                                ! Use a fixed rotational state for basis.
    J = 1                                                                  ! Takes J=1 and K=1 from the specified path.
    K = 1
    root_path = /home/username/SpectrumSDT_runs/o3/resonances/J_1/
  )
)

eigensolve = (
  num_states = 7200                                                        ! Need to ask for more states since we have a mixture of states from 3 values of K.
  mpd = 1100
)

cap = (
  min_absorbed_energy = 7
)

! Paths
grid_path = /home/username/SpectrumSDT_runs/o3/resonances/
root_path = /home/username/SpectrumSDT_runs/o3/resonances/J_2/             ! Change to J_1 for basis and overlaps.

wf_sections = (
  Covalent B = (
    rho = start .. 5.553467922104815
    phi = 0 .. 60
  )

  Covalent A = (
    rho = start .. 5.483975974258888
    phi = 60 .. 117.65
  )

  Covalent S = (
    rho = start .. 5.403612373134016
    phi = 117.65 .. 180
  )

  VdW B = (
    rho = 5.553467922104815 .. 11
    phi = 0 .. 60
  )

  VdW A = (
    rho = 5.483975974258888 .. 11
    phi = 60 .. 117.65
  )

  VdW S = (
    rho = 5.403612373134016 .. 11
    phi = 117.65 .. 180
  )

  Infinity = (
    rho = 11 .. end
  )

  Gamma B = (
    phi = 0 .. 60
    stat = gamma
  )

  Gamma A = (
    phi = 60 .. 180
    stat = gamma
  )

  K0 = (                                                                   ! Distribution over rotational states (K = 0 to 2).
    K = 0 .. 0
  )

  K1 = (
    K = 1 .. 1
  )

  K2 = (
    K = 2 .. 2
  )
)
