! All possible parameters

! Mode
mode = basis
coriolis = 1
fix_basis_jk = 1

! System
molecule = 686
J = 5
K = all
parity = 1
symmetry = 0

! Basis
num_basis_functions_1D = 100
cutoff_energy = 0
basis_root_path = /global/cfs/cdirs/m409/gaidai/ozone/686/rmax_5/rmin_3.4/alpha_0.5/L_130/J_0_basis/
basis_J = 0
basis_K = 0

! Diagonalization
num_states = 50
arnoldi_basis_size = 75
max_iterations = 10000

! CAP
cap_type = none

! Paths
grid_path = /global/cfs/cdirs/m409/gaidai/ozone/686/rmax_5/rmin_3.4/alpha_0.5/L_130/
root_path = /global/cfs/cdirs/m409/gaidai/ozone/686/rmax_5/rmin_3.4/alpha_0.5/L_130/J_5/
channels_root = /global/u2/g/gaidai/marquette/research/ozone/686_full/

! Extra info
print_potential = 0

! Debug
sequential = 0
enable_terms = 11
optimized_mult = 1
debug_mode = none
test_mode = none
debug_param_1 = none