66 130 1200                                                                             ! Number of points for each coordinate (for fixed number of points mode)
494 300 300                                                                             ! Number of points in each minimum energy path
0.2 0.1 0.1                                                                             ! Alphas
1 2 2                                                                                   ! Envelope types: 1 - optimal, 2 - equidistant
3.4 6.1 414.4466                                                                        ! Start, finish, Emax
0.43 1.56 207.2233                                                                      ! Start, finish, Emax
0 6.283185307179586 1200 2                                                              ! Start, finish, Emax/npoints (for optimal/equidistant), symmetry (?)
1 1e-12 3                                                                               ! Coordinate system (?), solving precision, grid mode
16 16 16                                                                                ! isotopic composition (don't change, other options do not work)

