! Mode
mode = overlaps
coriolis = 1
fix_basis_jk = 1

! Major
molecule = 686
J = 0
K = 0
symmetry = 0

! Basis
num_basis_functions_1D = 100
cutoff_energy = 0

! Paths
grid_path = /global/cfs/cdirs/m409/gaidai/ozone/686/rmax_5/rmin_3.4/alpha_0.5/L_130/
root_path = /global/cfs/cdirs/m409/gaidai/ozone/686/rmax_5/rmin_3.4/alpha_0.5/L_130/J_0_basis/