! Mode
use_fixed_basis_JK = 1

! System
mass = o16, o18, o16
J = 0

! Basis
basis_size_phi = 25
cutoff_energy = 0
basis_root_path = /home/installbot/SpectrumSDT_runs/J_0/
basis_J = 0
basis_K = 0

! Diagonalization
num_states = 50
cap_type = Manolopoulos

! Paths
grid_path = /home/installbot/SpectrumSDT_runs/
root_path = /home/installbot/SpectrumSDT_runs/J_0/

! Properties
wf_sections = {
  Covalent B = {
    phi = 0 .. 60
  }

  Covalent A = {
    phi = 60 .. 117.65
  }

  Covalent S = {
    phi = 117.65 .. 180
  }

  K0 = {
    K = 0 .. 0
  }
}
