! Mode
use_fix_basis_jk = 1

! System
mass = o16, o18, o16
J = 0

! Basis
basis_size_phi = 25
cutoff_energy = 0
basis_root_path = /home/username/SpectrumSDT_runs/J_0/
basis_J = 0
basis_K = 0

! Diagonalization
num_states = 50

! Paths
grid_path = /home/username/SpectrumSDT_runs/
root_path = /home/username/SpectrumSDT_runs/J_0/

! Generated
