! These settings are adjusted for a simple calculation of the lowest 50 vibrational states for J=0 (no rotation).
! Only the basic mandatory options are set here, except for "wf_properties" block, which is optional if only state energies are of interest.
! Computational cost: very low.
! Every stage is expected to finish within seconds even on 1 processor, with the exception of PES calculation, which may take about a minute.
! Expected output files from the eigensolve and properties stages for symmetry = 0 are given in results/energies.fwc and results/properties.fwc, respectively.
! Follow instructions in README.md to repeat this example.

! Mode
stage = {stage}                                         ! Placeholder values in {} are replaced by init_spectrumsdt_folders.py
use_rovib_coupling = 0                                  ! rovibration coupling has no effect on J=0

! System
mass = O16, O18, O16                                    ! Masses of atoms in the system in ABA order
J = 0                                                   ! Total angular momentum
K = 0                                                   ! Projection of total angular momentum

basis = (
  num_functions_phi = 50                                ! Number of sines or cosines for basis of 1D problem
  symmetry = {symmetry}                                 ! Symmetry of basis: symmetric (0) or antisymmetric (1)
  cutoff_energy = -2000                                 ! Maximum energy of basis functions in 1D and 2D problem
)

eigensolve = (
  num_states = 50                                       ! How many eigenstates to converge
)

! Paths
grid_path = /home/username/SpectrumSDT_runs/o3/         ! Path to grid files and pes.out
root_path = /home/username/SpectrumSDT_runs/o3/J_0/     ! Path to root folder of current calculation

! This block is optional and is only relevant for the properties stage
wf_sections = (                                         ! Defines boundaries of sections for wave function integrations.
  Covalent B = (                                        ! "B"-half (closer to channel 1) of one of the asymmetric covalent wells (AAB).
    phi = 0 .. 60                                       ! No restriction on rho here since rho-grid for this calculation does not go beyond the boundaries of the covalent wells.
  )

  Covalent A = (                                        ! "A"-half (closer to channel 2) of the asymmetric covalent well AAB.
    phi = 60 .. 117.65
  )

  Covalent S = (                                        ! Half of the symmetric covalent well (ABA). The full ABA probability is simply this *2 because of phi-symmetry.
    phi = 117.65 .. 180
  )

  K0 = (                                                ! Probability in K=0. Has to evaluate to 1, since K=0 is the only component for J=0.
    K = 0 .. 0
  )
)
